<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Confirmed</title>
    <link rel="stylesheet" href="/public/site-wide.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <a href="/"><img id="bobcat" src="/public/bobcat.svg" />
    <h1 id="site-title">Kabobcat</h1></a>
    <h4>UC Merced's aggregated list of left-over food on campus.</h4>
     
    <main>
        <p>Submission confirmed!</p>
    </main>
     
    <footer>
      &copy; Copyright 2020. Alan Tirian, Alisson Ross, Nathan Ross, Alexander Hitt.<br></footer>
</body>
</html>